<div class="com-chart">
  <h1 class="graph-title">＜体調グラフ＞</h1>
  <br>
  <%= line_chart Condition.where(user_id: current_user).pluck(:start_time, :condition), xtitle: "日付", ytitle: "体調", curve: false, min: 1, max: 5, id: "column-chart", width: "100%", height: "300px" %>
</div>
<br>
<div class="show-link">
  <%= link_to 'Back', conditions_path, class:"back" %>
</div>