<div class="temp-chart">
  <h1>＜体温グラフ＞</h1>
  <br>
  <%= line_chart Condition.pluck(:start_time, :temperature), xtitle: "日付", ytitle: "体温", curve: false, min: 35, max: 40, id: "column-chart", width: "600px", height: "300px" %>
</div>
<br>
<div class="show-link">
  <%= link_to 'Back', conditions_path, class:"back" %>
</div>