<div class="weight-chart">
  <h1>＜体重グラフ＞</h1>
  <br>
   <%= line_chart Condition.pluck(:start_time, :weight), xtitle: "日付", ytitle: "体重", curve: false, min: 30, max: 120, id: "column-chart", width: "600px", height: "300px" %>
</div>
<br>
<div class="show-link">
  <%= link_to 'Back', conditions_path, class:"back" %>
</div>